retell_postcall_workflow.json
{
    "name": "Retell Post-Call → GoHighLevel",
    "nodes": [
        {
            "id": "node_webhook",
            "name": "Webhook",
            "type": "n8n-nodes-base.webhook",
            "typeVersion": 2,
            "position": [
                0,
                0
            ],
            "parameters": {
                "httpMethod": "POST",
                "path": "retell-post-call",
                "responseMode": "onReceived",
                "options": {}
            }
        },
        {
            "id": "node_filter_event",
            "name": "Is Analyzed?",
            "type": "n8n-nodes-base.if",
            "typeVersion": 2,
            "position": [
                110,
                0
            ],
            "parameters": {
                "conditions": {
                    "options": {
                        "caseSensitive": true,
                        "typeValidation": "strict"
                    },
                    "combinator": "and",
                    "conditions": [
                        {
                            "id": "cond_event",
                            "leftValue": "={{ $json.body.event }}",
                            "operator": {
                                "type": "string",
                                "operation": "equals"
                            },
                            "rightValue": "call_analyzed"
                        }
                    ]
                },
                "options": {}
            }
        },
        {
            "id": "node_set",
            "name": "Extract Fields",
            "type": "n8n-nodes-base.set",
            "typeVersion": 3,
            "position": [
                220,
                0
            ],
            "parameters": {
                "mode": "manual",
                "assignments": {
                    "assignments": [
                        {
                            "id": "a1",
                            "name": "contactPhone",
                            "type": "string",
                            "value": "={{ $json.body.call.retell_llm_dynamic_variables[\"contact.phone\"] }}"
                        },
                        {
                            "id": "a2",
                            "name": "contactEmail",
                            "type": "string",
                            "value": "={{ $json.body.call.retell_llm_dynamic_variables[\"contact.email\"] }}"
                        },
                        {
                            "id": "a3",
                            "name": "contactName",
                            "type": "string",
                            "value": "={{ $json.body.call.retell_llm_dynamic_variables[\"contact.first_name\"] }}"
                        },
                        {
                            "id": "a4",
                            "name": "callOutcome",
                            "type": "string",
                            "value": "={{ $json.body.call_analysis.custom_analysis_data.call_outcome }}"
                        },
                        {
                            "id": "a5",
                            "name": "callSummary",
                            "type": "string",
                            "value": "={{ $json.body.call_analysis.call_summary }}"
                        },
                        {
                            "id": "a6",
                            "name": "callSentiment",
                            "type": "string",
                            "value": "={{ $json.body.call_analysis.user_sentiment }}"
                        },
                        {
                            "id": "a7",
                            "name": "callSuccessful",
                            "type": "string",
                            "value": "={{ $json.body.call_analysis.call_successful }}"
                        },
                        {
                            "id": "a8",
                            "name": "recordingUrl",
                            "type": "string",
                            "value": "={{ $json.body.call.recording_url }}"
                        }
                    ]
                },
                "options": {}
            }
        },
        {
            "id": "node_search_ghl",
            "name": "Search GHL Contact",
            "type": "n8n-nodes-base.httpRequest",
            "typeVersion": 4,
            "position": [
                440,
                0
            ],
            "parameters": {
                "method": "GET",
                "url": "https://services.leadconnectorhq.com/contacts/search/duplicate",
                "sendQuery": true,
                "queryParameters": {
                    "parameters": [
                        {
                            "name": "locationId",
                            "value": "bYPFrgmhPQl0sOOvrQeV"
                        },
                        {
                            "name": "number",
                            "value": "={{ $json.contactPhone }}"
                        }
                    ]
                },
                "sendHeaders": true,
                "headerParameters": {
                    "parameters": [
                        {
                            "name": "Authorization",
                            "value": "Bearer pit-299d2f18-4b5d-44ad-98fc-efdd5e64999e"
                        },
                        {
                            "name": "Version",
                            "value": "2021-07-28"
                        }
                    ]
                },
                "options": {}
            }
        },
        {
            "id": "node_if",
            "name": "Contact Found?",
            "type": "n8n-nodes-base.if",
            "typeVersion": 2,
            "position": [
                660,
                0
            ],
            "parameters": {
                "conditions": {
                    "options": {
                        "caseSensitive": true,
                        "typeValidation": "strict"
                    },
                    "combinator": "and",
                    "conditions": [
                        {
                            "id": "cond1",
                            "leftValue": "={{ $json.contact.id }}",
                            "operator": {
                                "type": "string",
                                "operation": "notEmpty"
                            },
                            "rightValue": ""
                        }
                    ]
                },
                "options": {}
            }
        },
        {
            "id": "node_add_note",
            "name": "Add Call Note",
            "type": "n8n-nodes-base.httpRequest",
            "typeVersion": 4,
            "position": [
                880,
                -80
            ],
            "parameters": {
                "method": "POST",
                "url": "={{ 'https://services.leadconnectorhq.com/contacts/' + $('Search GHL Contact').item.json.contact.id + '/notes' }}",
                "sendHeaders": true,
                "headerParameters": {
                    "parameters": [
                        {
                            "name": "Authorization",
                            "value": "Bearer pit-299d2f18-4b5d-44ad-98fc-efdd5e64999e"
                        },
                        {
                            "name": "Version",
                            "value": "2021-07-28"
                        },
                        {
                            "name": "Content-Type",
                            "value": "application/json"
                        }
                    ]
                },
                "sendBody": true,
                "contentType": "raw",
                "rawContentType": "application/json",
                "body": "={{ JSON.stringify({ body: '📞 Retell AI Call Summary\\n\\nOutcome: ' + $('Extract Fields').item.json.callOutcome + '\\nSentiment: ' + $('Extract Fields').item.json.callSentiment + '\\nCall Successful: ' + $('Extract Fields').item.json.callSuccessful + '\\n\\nSummary:\\n' + $('Extract Fields').item.json.callSummary + '\\n\\nRecording: ' + $('Extract Fields').item.json.recordingUrl }) }}",
                "options": {}
            }
        },
        {
            "id": "node_add_tag",
            "name": "Add Tag",
            "type": "n8n-nodes-base.httpRequest",
            "typeVersion": 4,
            "position": [
                1100,
                -80
            ],
            "parameters": {
                "method": "POST",
                "url": "={{ 'https://services.leadconnectorhq.com/contacts/' + $('Search GHL Contact').item.json.contact.id + '/tags' }}",
                "sendHeaders": true,
                "headerParameters": {
                    "parameters": [
                        {
                            "name": "Authorization",
                            "value": "Bearer pit-299d2f18-4b5d-44ad-98fc-efdd5e64999e"
                        },
                        {
                            "name": "Version",
                            "value": "2021-07-28"
                        },
                        {
                            "name": "Content-Type",
                            "value": "application/json"
                        }
                    ]
                },
                "sendBody": true,
                "contentType": "raw",
                "rawContentType": "application/json",
                "body": "={ \"tags\": [\"Retell Call Completed\"] }",
                "options": {}
            }
        }
    ],
    "connections": {
        "Webhook": {
            "main": [
                [
                    {
                        "node": "Is Analyzed?",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Is Analyzed?": {
            "main": [
                [
                    {
                        "node": "Extract Fields",
                        "type": "main",
                        "index": 0
                    }
                ],
                []
            ]
        },
        "Extract Fields": {
            "main": [
                [
                    {
                        "node": "Search GHL Contact",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Search GHL Contact": {
            "main": [
                [
                    {
                        "node": "Contact Found?",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Contact Found?": {
            "main": [
                [
                    {
                        "node": "Add Call Note",
                        "type": "main",
                        "index": 0
                    }
                ],
                []
            ]
        },
        "Add Call Note": {
            "main": [
                [
                    {
                        "node": "Add Tag",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        }
    },
    "settings": {
        "executionOrder": "v1"
    }
}